* {
    box-sizing: border-box;
}
 body {
    display: flex;
    flex-direction: column;
    background-color: black;
        align-items: center;

 }
h1 {
    border: 3px solid blue;
    color: red;
    width: 40%;
    text-align: center;
    border-radius: 5px;
}

#game {
      border: 3px solid blue;
      background: linear-gradient(rgb(82, 75, 75), rgb(47, 42, 71), rgb(204, 204, 228), rgb(42, 41, 115));

}
